*, *:before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
.main {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 64em;
    width: 100%;
    min-width: 64em;
    background: url(/images/header/фон.jpg);
    background-size: cover;
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: relative;
    list-style-type: none;
}
.menu {
    width: 60%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    outline-style: none;
    list-style-type: none;
}
.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: goldenrod;
}

.li1 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}
.li2 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}
.li3 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}
.li4 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}
.li5 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}
.li6 {
    border: 2px solid goldenrod;
    padding: 10px 20px;
    border-radius: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #daa520;
}
.main-text h1 {
    font-size: 85px;
    text-align: center;
    color: goldenrod;
}
.main-text span {
    display: inline-block;
    font-size: 35px;
}
.main-text span::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: goldenrod;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-text span::before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: goldenrod;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
    
.main-arrow {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    }

.table {
    background-color: honeydew;
    height: 100vh;
    min-height: 600px;
}
.table-header {
    text-align: center;
    padding-top: 250px;
}

.table-subtitle::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: goldenrod;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.table-subtitle::before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: goldenrod;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.table-subtitle {
    font-size: 35px;
    color: goldenrod;
}

.portrets {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}
.portret-1 img {
    border: 15px solid goldenrod;
    border-radius: 200px;
}
.portret-2 img {
    border: 15px solid goldenrod;
    border-radius: 200px;
}
.portret-3 img {
    border: 15px solid goldenrod;
    border-radius: 200px;
}
.money {
    width: 600px;
    height: 100px;
    font-size: 50px;
    border: 5px solid goldenrod;
    border-radius: 100px;
    text-align: center;
    outline-style: none;
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
    margin-top: 40px;
}
.button {
    outline-style: none;
    border: 5px solid goldenrod;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 20px;
    background: url("../image/header/кнопка.svg");
    background-size: cover;
}
.form {
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.shit3 {
    border: 2px solid goldenrod;
    border-radius: 100px;
    margin: auto;
}
